#huge {
  font-size: 100px;
  text-align: center;
}
.App {
  display: grid;
  grid-template-columns: 20% 3fr;
  padding: 0 25px;
}
#main-app {
  /* padding: 0 45px; */
  background-color: #f7f7fa;
}
#Facets {
  display: flex;
  flex-direction: column;
  margin: 15px 0 0 0;
}
#card-row {
  display: grid;
  grid-template-columns: 1fr;
  padding: 0 25px;
  margin-top: 20px;
}
#category-list {
  display: flex;
  flex-wrap: wrap;
}
#category-list li {
  padding-left: 15px;
  padding-bottom: 15px;
}
#category-list li img {
  width: 130px;
}
#card-grid {
  display: grid;
  grid-template-columns: 1fr 1fr 1fr 1fr 1fr;
  height: 400px;
  /* width: 0px; */
}
#bg {
  position: absolute;
  top: 136px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
  display: none;
  z-index: 15;
  height: 350vh;

  display: none;
}
.bg {
  position: absolute;
  top: 136px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
  display: none;
  z-index: 999;
  height: 350vh;
  display: none;
}
.bg1 {
  position: absolute;
  top: 136px;
  bottom: 0;
  left: 0;
  right: 0;
  background-color: black;
  opacity: 0.3;
  display: none;
  z-index: 999;
  height: 350vh;
  display: none;
}
.showToggle {
  display: block !important;
}
.hideToggle {
  display: none !important;
}
#dir {
  width: 13%;
}
